<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" class="keyboard-backspace-icon-10"></ion-back-button>
    </ion-buttons>
    <ion-title>Eliminar Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="rectangle-142">
    <h1 class="eliminar-cuenta">Eliminar Cuenta</h1>
    
    <ion-item class="rectangle-145">
      <ion-label position="floating" class="contrase-a">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    
    <ion-item class="rectangle-148">
      <ion-label position="floating" class="confirmar-contrase-a-">Confirmar contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    
    <ion-item lines="none" class="i-agree-to-the-terms-of-services-and-privacy-polic-2">
      <ion-checkbox class="checkbox-3" slot="start"></ion-checkbox>
      <ion-label>Confirmo que deseo ELIMINAR mi cuenta de manera PERMANENTE</ion-label>
    </ion-item>
    
    <ion-button expand="block" class="rectangle-8-copy-22">Eliminar Cuenta</ion-button>
  </div>
</ion-content>

